* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: Arial, sans-serif;
    background-image: url();
    color: #333;
  }
   

  header {
    background-color: #835511; 
  }
   
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
   
  nav ul li {
    margin: 0;
  }
   
  nav ul li a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
   
  nav ul li a.active,
  nav ul li a:hover {
    background-color: #b9843a;
  }
#Cim{
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.sor{
    width: 400px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}
.oszlop{
    width: 400px;
    height: 450px;
}
.kepszoveg th,td{
    background-color: #835511;
}
td,th{
    text-align: center;
}
image{
  height: 100%;
  object-fit: cover;
  flex-direction: column;
}

footer {
    background-color: #835511;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
  }
  image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
  }

  body{
    color: white;
  }

.styled-table {
  width: 35%;
  border-collapse: collapse;
  margin: auto;
  font-size: 18px;
  text-align: left;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.styled-table td,th{
  background:url(nyitvatartas.jpg);
  width: 2px;;
  background-repeat: no-repeat;
}


.styled-table th {
  color: #835511;
  padding: 10px;
}

.styled-table td {
  padding: 10px;
  color: #835511;
}
th,td
{
  letter-spacing: 1px;
}

.nyitvatartas{
  background-image: url(kep.jpg);

}
table {
  width: 100%;
  border-collapse: collapse;
  background: #c79244;
  background: linear-gradient(322deg,rgba(199, 146, 68, 1) 10%, rgba(201, 195, 71, 1) 61%);
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
