* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: Arial, sans-serif;
    background-image: url();
    color: #333;
  }
   
  header {
    background-color: #835511; 
  }
   
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
   
  nav ul li {
    margin: 0;
  }
   
  nav ul li a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
   
  nav ul li a.active,
  nav ul li a:hover {
    background-color: #b9843a;
  }
   
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
   
  .about {
    text-align: center;
    margin-bottom: 3rem;
  }
   
  .about h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
   
  .about p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    color: white;
  }
   
  
  .team {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap; 
  }
   
  .member {
    background: #A37A3D;
    background: linear-gradient(147deg,rgba(163, 122, 61, 1) 37%, rgba(255, 186, 97, 1) 85%);
    flex: 1 1 300px;
    max-width: 450px;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
   
  .member img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
   
  .member h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
   
  .member p {
    line-height: 1.5;
    color: white;
  }
   
  footer {
    background-color: #835511;
    color: #ffffff;
    text-align: center;
    padding: 3rem;
  }
   
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
   
    nav ul li a {
      text-align: center;
      padding: 1rem;
    }
   
    .team {
      flex-direction: column;
      align-items: center;
    }
   
    .member {
      max-width: 600px;
    }
  }